
out/production/JD1/by/htp/hw2/task2/Solution.class
*.xml
*.xml
*.xml
*.iml
*.class
src/by/htp/hw2/task1/Solution.java
src/by/htp/hw2/task2/Solution.java
*.class
*.xml
out/production/JD1/by/htp/hw2/task3/Solution.class
